@media(min-width:320px) and (max-width:450px){
    .myGenre{
        min-height:531px;
        display: grid;
    grid-template-rows: 36% 36%;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    }
}