@media(min-width:320px) and (max-width:450px){
    .myGenre{
        display: grid;
    grid-template-rows: 26% 26%;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    }
    .myFirstTop{
        display: grid;
    grid-template-rows: 29% 29% 40%;
    grid-template-columns: 50% 50%;
    }
    .swiper{
        height: 800px;
    }
}