


@media(min-width: 390px) and (max-width: 400px){
    .myBottomBot{
        display: flex !important;
        flex-direction: column;
        margin-top:-5%;
    }
    .myBottomBot >p {
        display: none;
    }
    /*.myBottomBot:nth-child(1){*/
    /*    display: none !important;*/
    /*}*/
}